html, body {
    line-height: 1.5;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: 18px;
}

body::-webkit-scrollbar {
    width: 0.6rem;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    width: 0.5rem;
    border-radius: 2rem;
    border: 3px rgba(92, 92, 92, 0.25);
    background-color: rgba(92, 92, 92, 0.25);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100vh - 6px);
    width: 17.25rem;
    border: 3px rgba(92, 92, 92, 0.25) solid;
}

main {
    position: absolute;
    margin-left: 17.5rem;
    padding: 1rem;
}

header {
    font-family: 'Roboto Mono', monospace;
    font-size: 26px;
    font-weight: 500;
    margin-left: 0.75rem;
}

nav header {
    margin: 0;
    text-align: center;
    margin: 1rem;
}

nav ul {
    height: 85%;
    padding: 0;
}

nav li {
    position: relative;
    width: 100%;
    color: rgb(141, 141, 141);
    border-top: 1px rgba(92, 92, 92, 0.25) solid;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li:last-of-type {
    border-bottom: 1px rgba(92, 92, 92, 0.25) solid;
}

nav a {
    display: block;
    padding: 0.75rem 2rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    text-decoration: none;
    color: rgb(34, 34, 34)
}

code {
    display: block;
    font-family: 'Fira Code', monospace;
    font-weight: 300;
    border: 2px solid rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    padding: 0.5rem 2rem;
    line-height: 2;
    font-size: 16px;
    margin-bottom: 1rem;
}

#time {
    display: inline;
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    margin: 0;
}

@media (max-width: 768px) {
    nav {
        display: block;
        position: absolute;
        width: 100%;
        height: 16rem;
        border: 0;
    }

    nav ul {
        display: block;
        border: 3px rgb(172, 172, 172) solid;
        overflow-y: scroll;
    }

    main {
        margin-top: 17.5rem;
        margin-left: 0;
    }
}

@media (max-width: 363px) {
    main {
        margin-top: 20rem;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(23, 15, 26);
        color: rgb(201, 212, 212);
    }

    nav a {
        color: rgb(201, 212, 212);
    }

    code {
        color: rgb(211, 231, 231);
        background-color:rgb(48, 34, 53);
        border: rgb(48, 34, 53);
    }
}